<form name="comments"
      method="POST"
      data-netlify="true"
      netlify-honeypot="bot-field"
      class="tecl-comment-form">

  <!-- Hidden post URL -->
  <input type="hidden" name="page_url" value="{{< meta site.url >}}{{< meta page.url >}}">

  <!-- Honeypot field -->
  <p class="hidden">
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>

  <div class="tecl-form-group">
    <label for="comment-name">Full Name</label>
    <input id="comment-name" type="text" name="name" required placeholder="Your name">
  </div>

  <div class="tecl-form-group">
    <label for="comment-email">Email Address (not published or sold)</label>
    <input id="comment-email" type="email" name="email" required placeholder="username@email.com">
  </div>

  <div class="tecl-form-group">
    <label for="comment-message">Message Box</label>
    <textarea id="comment-message" name="comment" required rows="4" placeholder="Share your thoughts ... "></textarea>
  </div>

  <button type="submit" class="tecl-comment-button">Post Comment</button>
</form>
